.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 90rem;
  height: 3rem;
}

.header-menu {
  color: black;
  list-style: none;
  gap: 2rem;
  display: flex;
}

.header-menu>li:hover {
  cursor: pointer;
  color: var(--orange);
}